<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PedBoard - Teste</title>
    <link rel="stylesheet" href="style/Reset_css.css">
    <link rel="stylesheet" href="style/Barra_lateral.css">
</head>

<body> <!-- Sidebar (já pronto) -->
    <aside class="sidebar" aria-label="Barra lateral">
        <nav class="sidebar-nav" aria-label="Navegação principal">
            <a class="nav-item" href="Dashboard.html" data-key="dashboard" title="Dashboard">
                <img src="imagens/Deashboard.png" alt="Dashboard">
            </a>
            <a class="nav-item" href="tarefas.html" data-key="tarefas" title="Tarefas">
                <img src="imagens/tarefas.png" alt="Tarefas">
            </a>

            <a class="nav-item" href="notas.html" data-key="notas" title="Notas">
                <img src="imagens/notas.png" alt="Notas">
            </a>
            <a class="nav-item" href="graficos.html" data-key="graficos" title="Gráficos">
                <img src="imagens/graficos.png" alt="Gráficos">
            </a>
            <a class="nav-item" href="atendimentos.html" data-key="atendimentos" title="Atendimentos">
                <img src="imagens/perfil.png" alt="Gráficos">
            </a>
        </nav>
    </aside>

    <main>
    </main>
    <script src="scripts/sidebar.js"></script>
</body>

</html>